@charset "UTF-8";

h1 {
	text-align: center;
}

* {
	font-family: cursive;
}

main {
	border: 4px solid red;
	border-radius: 10px;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

label {
	word-wrap: break-word; display : block;
	white-space: normal;
	width: 100%;
	overflow-wrap: break-word;
	display: block;
}

p {
	text-decoration: underline;
}